@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-image: url("../img/Designerz.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Playfair Display", serif;
}

#mainmenu{
    place-items: center;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 8px;
    width: 70%;
    background: linear-gradient(-45deg, #D9C7B8, #B8A290, #E6D9B6);
    box-shadow: 0px 0px 0px #000,
    0 0 25px #B8A290,
    0 0 50px #27272D;
}

#mainmenu img{
    width: 18vh;
    padding: 5px;
}

#mainmenu .opcoes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#mainmenu a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    border-radius: 8px;
    padding: 10px;
    width: 20vh;
    height: 25vh;
    margin: auto;
}

#mainmenu a:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 0px #000,
    0 0 25px #000;
}

.opc1, .opc2, .opc3, .opc4, .opc5{
    background: linear-gradient(-45deg, #F8E7A0, #B7A278, #E6D9B6);
}

.opc1:hover, .opc2:hover, .opc3:hover, .opc4:hover, .opc5:hover{
    background: linear-gradient(-45deg, #B7A278, #F8E7A0, #E6D9B6);
}

h2{
    margin: 15px;
    font-weight: bold;
    font-size: 2rem;
    font-family: "Great Vibes", cursive;
    color: #B7A278;
    text-shadow: 2px 2px 4px rgba(158, 173, 16, 0.5);
}


@media screen and (max-width: 1200px) {
    #mainmenu .opcoes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    #mainmenu .opcoes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    #mainmenu .opcoes{
        grid-template-columns: 1fr 1fr;
        padding: 10px;
    }
    #mainmenu{
        width: 100%;
    }
}

